@if (movieService.movie()?.Response === "True") {
<div class="row bg-light mt-4 p-4">
    <div class="col-4">
        @if ((movieService.movie()?.Poster?.length ?? 0) > 3) {
                <img class="img-fluid" [src]="movieService.movie()?.Poster">
        }
    </div>
    <div class="col-8">
        @if ((movieService.movie()?.Title ?? "No title") !== null) {
            <div>
                <h1>{{(movieService.movie()?.Title ?? "No title")}}</h1>
                <h2>Director: {{(movieService.movie()?.Director ?? "No director")}}</h2>
                <h3>Year of release: {{(movieService.movie()?.Year ?? "No year")}}</h3>
            </div>
        }
    </div>
</div>
} @else {

    <div class="row bg-light mt-4 p-4">
        @if (!movieService.movie()) {
            <p>Try searching for a movie</p>
        }
        <h3>{{movieService.movie()?.Error }}</h3>
    </div>
}